@import 'base/reset',
        '../node_modules/bourbon/app/assets/stylesheets/bourbon',
        '../node_modules/bourbon-neat/app/assets/stylesheets/neat',
        'base/base',
        'navStyle';

// Color scheme from colorhunt.co
$teal: #A9EEE6;
$peach: #FEFAEC;
$pink: #F9A1BC;
$plum: #625772;


