@import 'normalize.scss';

// colors for blog theme
$pink: #E368D6;
$green: #02B875;
$lightGrey: #EEE;
$purple:  #432E63;
$background: #F4EBDF;

body {
	font-family: 'Noto Sans', sans-serif;
	color: #000;
	background-color: $background;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

main {
	flex: 1;
	background-color: #fff;
	margin: 2em 1em;
	padding: 2em;
	border: 1px solid $purple;
}

.nav-wrapper {
	background-color: $background;
	color: $purple;
	border-bottom: 1px solid #eee;
	border-top: 16px solid $pink;

	.brand-logo {
		color: $purple;
		padding-left: 1em;
		float: left;
	}

	.nav-link-box {
		text-align: right;

		.active {
			border-bottom: 1px solid $purple;
		}

		.nav-link {
			margin-right: 1em;
			padding-bottom: 0.5em;
			padding: 0.25em;
			float: right;
			font-size: 1.25em;
		}

		.displayedUser {
			margin-right: 1em;
			padding-bottom: 0.5em;
			float: right;
		}
	}
}

.footer-box {
	background-color: $lightGrey;
	border-top: 1px solid #555;
}

a {
	text-decoration: none;
	color: #000;

	&:hover {
		color: #aaa;
	}
}

.error-box {
	color: #F44336;
}

.story-container {

	.each-story {
		padding: 1em;

		.story-title {
			margin: 0.25em 0 0.5em 0;
		}

		.job-row-time-stamp {
			color: #bbb;
			font-size: 0.8em;
		}

		.story-preview {

		}
	}
}

input {
	width: 50%;
	margin-bottom: 1em;
}

button {
	background-color: $purple;
	color: #EEE;
	border: 1px solid #555;
	box-shadow: 1px 1px 2px $purple;
	margin-top: 1em;
	padding: 0.5em 1.5em;
}

.register-box {

	&:first-child {
 		margin-bottom: 3em;
 	}
}
